<li id="signin">
<h1>Sign In</h1>
<div class="box">
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required><br><br>
    <input type="password" name="password" placeholder="Password"  required><br><br>
    <input type="submit" value="Sign In">

</form>
</div>

<p>
   <h6> <a href="/users/auth/google">Google Sign In/Sign Up</a> </h6>
</p>
</li>